<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tsu.lulin.dao.CmuserDao">
	<select id="login" parameterType="edu.tsu.lulin.entity.Cmuser" resultType="edu.tsu.lulin.entity.Cmuser">
		select * from cmuser where cmaccount=#{cmaccount} and cmpassword=#{cmpassword}
	</select>
	<insert id="regist" parameterType="edu.tsu.lulin.entity.Cmuser">
		<selectKey resultType="Long" order="BEFORE" keyProperty="cmuserid">
			select seq_cmuser_id.nextval from dual
		</selectKey>
		insert into cmuser(cmuserid,cmaccount,cmpassword,uuid) values(#{cmuserid,jdbcType=NUMERIC},#{cmaccount,jdbcType=VARCHAR},#{cmpassword,jdbcType=VARCHAR},#{uuid,jdbcType=VARCHAR})
	</insert>
	<select id="findCmuserByEmail" parameterType="String" resultType="edu.tsu.lulin.entity.Cmuser">
		select * from cmuser where cmemail=#{cmemail}
	</select>
	<select id="findUUIdById" parameterType="String" resultType="String">
		select uuid from cmuser where cmuserid=#{cmuserid}
	</select>
	<update id="updateCmpassword" parameterType="edu.tsu.lulin.entity.Cmuser">
		update cmuser set cmpassword=#{newpassword} where cmuserid=#{cmuserid} and uuid=#{uuid}
	</update>
	<update id="updateCmemailByUUid" parameterType="edu.tsu.lulin.entity.Cmuser">
		update cmuser set cmemail=#{cmemail} where uuid=#{uuid}
	</update>
	<update id="updateUUIdById" parameterType="edu.tsu.lulin.entity.Cmuser">
		update cmuser set uuid=#{uuid} where cmuserid=#{cmuserid}
	</update>
	<update id="editPwd" parameterType="edu.tsu.lulin.entity.Cmuser">
		update cmuser set cmpassword=#{newpassword} where cmuserid=#{cmuserid}
	</update>
	<select id="findCmuserByAccount" parameterType="String" resultType="edu.tsu.lulin.entity.Cmuser">
		select * from cmuser where cmaccount=#{cmaccount}
	</select>
</mapper>